table tr td{
    text-align: left;
    padding-bottom: 20px;
}
table tr td:first-child{
    padding-right: 190px;
}

#form {
    padding: 5%;
    border:  1px solid black;
    width: 55%;
    float: right;
    margin-right: 5%;  
    margin-top: 3%;
}

#content h1{
    padding: 0px;
    text-align:  center;
    margin-top: 0px;
    position: relative;
    top: 20px;
}

#sub-nav{
    width: 370px;
}

#sub-nav ul{
    margin: 0px;
    padding: 0px;
}

#sub-nav ul li{
    list-style: none;
    border-bottom: #fff solid;
    border-top: #fff solid;
    border-width: 1px;
}

#sub-nav ul li a{
    padding: 8px;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    display: block;
    height: 25px;
    text-indent: 10px;
    width: 100%;
    background-color: #193441;
}

#sub-nav ul li a:hover {
    background: #617F8A;
}