<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.cshtml" />
                <add value="Default.js" />
                <add value="Default.css" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
